@using BlazorDapperCRUD.Data
@page "/videoadd"
@inject IVideoService VideoService
@inject NavigationManager NavigationManager

<h1>Add a Video</h1>

<EditForm Model="@video" OnValidSubmit="@VideoInsert">
    <table>
        <tr>
            <td>Video Title:</td>
            <td><input type="text" @bind="video.Title" required /></td>
        </tr>
        <tr>
            <td>Date Published:</td>
            <td><input type="text" @bind="video.DatePublished" required /></td>
        </tr>
        <tr>
            <td>Is Active:</td>
            <td><input type="checkbox" @bind="video.IsActive"/></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" value="Add" />
                <input type="button" value="Cancel" @onclick="@Cancel" />
            </td>
        </tr>
    </table>
</EditForm>

@code {
    //create a new, empty video object
    Video video = new Video();

    protected async Task VideoInsert()
    {
        await VideoService.VideoInsert(video);
        NavigationManager.NavigateTo("/");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}
